
body {
    font-family: "Orbitron";
    margin-left: 30px;
    background-image: linear-gradient(aquamarine, rgb(203, 203, 203), white, rgb(253, 191, 191));
}

header {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 20px;
}

header h1 {
    font-family: "Orbitron";
    font-size: 3.5em;
    margin-bottom: 0;  
    color:rgb(18, 48, 23);
}

#product {
    margin-top: 20px;
    transform: rotate(30deg);
    text-align: center;
}

button {
    margin-top: 20px;
    border-style: none;
    padding: 20px;
    background-color: aquamarine;
}

button:hover {
    background-color: rgb(0, 142, 83);
    cursor: grab;
}

#list {
    margin-bottom: 60px;
}

#copyright {
    margin-top: 50px;
}
